<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157673737863-gvu6ng450f03c1285hqu1a2nfbobm2rl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157673737863-gvu6ng450f03c1285hqu1a2nfbobm2rl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>157673737863-s69nntt1jnjqtcfinmaoctsi2d97tlsb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDYWx_Mzf_nPGcyKFJktTjyV2iLtfoxKzs</string>
	<key>GCM_SENDER_ID</key>
	<string>157673737863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.offers2022App</string>
	<key>PROJECT_ID</key>
	<string>rood-app-bb261</string>
	<key>STORAGE_BUCKET</key>
	<string>rood-app-bb261.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157673737863:ios:244450a48fc1bf08bbb222</string>
</dict>
</plist>